/**index.scss**/
@import "../../scss/mixin";

.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userinfo-avatar {
        @include width(64);
        @include height(64);
        @include margin(20);
        border-radius: 50%;
    }
    .userinfo-nickname {
        color: #aaa;
    }
}

.icon-block {
    display: block;
    @include margin-top(20);
    .text {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: #666;
        white-space: nowrap;
        position: relative;
        &.has {
          text{
              background: #999;
          }
        }
        text {
            overflow: hidden;
            @include height(27);
            @include line-height(27);
            @include font-size(12);
            border: 1px solid #ededed;
            @include border-width(0.5);
            border-top: none;
            border-right: none;
            width: 100%;
            display: block;
        }
    }
    .left-block {
        float: left;
        width: 10%;
        .text {
            color: #999;
            width: 100%;
            text {
                border-color: #fff;
            }
        }

    }
    .right-block {
        float: left;
        width: 90%;
        .block-wrap {
            border: 1px solid #ededed;
            @include border-width(0.5);
            border-left: none;
            border-bottom: none;
        }
        .text {
            width: 8.3333%;
        }
    }

}



